<!--The content below is only a placeholder and can be replaced.-->
<input type="checkbox" [checked]="isChecked">
<button (click)="onCheck()">Check</button>

<div [class.red]="colorRed">
  text <button (click)="colorRed = !colorRed">Change color</button>
</div>

<div>
  <input type="text" (input)="inputText = $event.target.value"> {{inputText}}
</div>

<div>
  <input type="text" [(ngModel)]="inputName"> {{inputName}}
</div>

<p [ngClass]="{'red': colorCode==1, 'green': colorCode==2}">text</p>

<div *ngFor="let user of listUser; let i = index">
  <app-user [userDetail]="user" [userId]="i" (deleteUserId)="deleteUserFromArray($event)"></app-user>
</div>

<div>
  {{ date | date : "MM/dd/yy" }}
  {{ listUser | json }}
</div>